{% load staticfiles  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Juan Jose</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>

    <!--script type="module" src="https://rawgit.com/fernandojsg/aframe-teleport-controls/master/dist/aframe-teleport-controls.min.js"></script-->
    <script src="//cdn.rawgit.com/donmccurdy/aframe-extras/v4.1.2/dist/aframe-extras.min.js"></script>

</head>
<body>

<a-scene shadow="type:pcfsoft">
    <a-assets>
        <img id="footsteps" src="{% static 'image/footsteps.png' %}">

        {% if scene %}
        <a-asset-item id="scene3d" src="/media/{{scene.model }}"></a-asset-item>
        {% endif %}
        {% for obra in obras %}
        <a-asset-item id="obra_{{ obra.id }}" src="/media/{{ obra.model }}" ></a-asset-item>
        {% endfor %}
        {% for object in objects_gltf %}
        <a-asset-item id="object_gltf_{{ object.id }}" src="/media/{{ object.model }}" ></a-asset-item>
        {% endfor %}

    </a-assets>

    {% for obra in obras %}
        <a-entity id="obra_escena_{{ obra.id }}"
                  gltf-model="#obra_{{ obra.id }}"
                  position="{{ obra.position }}"
                  rotation="{{ obra.rotation }}"
                  scale="{{ obra.scale }}">
        <a-image src="#footsteps" position="0 2 0" checkpoint="offset: {{ obra.checkpoint}}"></a-image>
        <a-entity text="font: https://cdn.aframe.io/fonts/Roboto-msdf.json; value: {{ obra.title }}; align: center" position="0 1.475 0" scale="2 2 2"></a-entity>
        <a-entity text="font: https://cdn.aframe.io/fonts/Roboto-msdf.json; value: {{ obra.dimentions }}; align: center" position="0 1.39 0" scale="1.5 1.5 1.5"></a-entity>
        <a-entity text="font: https://cdn.aframe.io/fonts/Roboto-msdf.json; value: {{ obra.date }}; align: center" position="0 1.33 0" scale="1.5 1.5 1.5"></a-entity>
        <a-entity text="font: https://cdn.aframe.io/fonts/Roboto-msdf.json; value: ${{ obra.price }}; align: center" position="0 -1.3 0" scale="2 2 2"></a-entity>
        <a-entity text="font: https://cdn.aframe.io/fonts/Roboto-msdf.json; value: {{ obra.description }}; align: left" position="1.8 0 0" scale="1.5 1.5 1.5"></a-entity>

        </a-entity>
    {% endfor %}

    {% for object in objects_gltf %}
        {% if object.active %}
        <a-entity id="object_gltf_escena_{{ object.id }}"
                  gltf-model="#object_gltf_{{ object.id }}"
                  position="{{ object.position }}"
                  rotation="{{ object.rotation }}"
                  scale="{{ object.scale }}">

        </a-entity>
        {% endif %}
    {% endfor %}

    <a-entity scenemodelo gltf-model="#scene3d" scale="1 1 1"  material modify-materials></a-entity>

    <a-entity camera-rig
          id="camera-rig"
          movement-controls="controls: checkpoint">
               <a-entity
                id="blink"
                cursor="rayOrigin: mouse; fuse: false"
                camera="fov: 40"
                position="0 1.7 0"
                look-controls="magicWindowTrackingEnabled: true; touchEnabled: true; mouseEnabled: true">

                </a-entity>

    </a-entity>
    {% for light in lights %}
    <a-entity id="sample_light_{{ light.id }}" light="type: {{ light.type }}; color: {{ light.color }}; intensity: {{ light.intensity }}" position="{{ light.position }}" rotation="{{ light.rotation }}"></a-entity>
    {% endfor %}
</a-scene>
</body>
</html>